.Map {
  width: 100%;
  height: 100%;
  position: fixed;
}

.BaseLayersControl {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 1000;
}

.ol-zoom {
  bottom: 4em !important;
  top: unset !important;
}
